<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 세부정보</title>
</head>
<body>
    <h1>주문 세부정보</h1>
    <table border="1">

        <tr>
            <th>주문번호</th>
            <th>주문시간</th>
            
            <th>가격</th>
            <th>주소</th>
        </tr>
          <tr>
            <td>{{ order_list.id }}</td>
            <td>{{ order_list.order_date }}</td>
            
            <td>\{{ order_list.price }}</td>
            <td>{{ order_list.address}}</td>
            <!-- |date: "Y/m/d H:i D" -->
          </tr>
          <tr>
            <th colspan="4" style="text-align: center;">주문 내용</th>
          </tr>
          <tr>
            <td colspan="4">{{ order_list.order_text }}</td>
          </tr>
      
    </table>
    <hr>
    <a href="update/">수정하기</a> //
    <a href="delete/">삭제하기</a>
    
</body>
</html>